 <h2>auror mu <br>illustrator</h2>
  <div class="container">
    <a href="/youth_illustrations" class="item full-width" style="background-image: url('https://res.cloudinary.com/dncaa02l9/image/upload/v1709233235/youth_illustrations/nuages1_hwoqjg.png');">youth <br>illustrations
    </a>

    <a href="/small_hoomans">
      <div style="background-image: url('<%= asset_path 'meres2018.png' %>');" class="item">tiny creatures</div>
    </a>

    <a href="/portraits">
      <div style="background-image: url('https://res.cloudinary.com/dncaa02l9/image/upload/v1709632558/portraits/portrait_mu1_b3qdfu.png');" class="item">portraits</div>
    </a>

    <div style="background-image: url('<%= asset_path 'poulpe.jpg' %>');" class="item">Science <br>illustrations</div>

    <div style="background-image: url('<%= asset_path 'eng0202.png' %>');"  class="item">technical <br>illustrations</div>
    <div class="item full-width">places</div>
    <div class="item">animations</div>
    <div class="item">graphs</div>
  </div>

  <div class="footer">
    <div class="footer-col">
      <div class="col">
        <a class="about" href="<%= about_path %>">about</a>
      </div>
      <div class="col">
        <a class="contact" href="<%= contact_path %>">contacts</a>
      </div>
    </div>
  </div>
