<div><h2>Le Crocodile du Nil</h2>
</div>
<% images = [
    { path: 'https://res.cloudinary.com/dncaa02l9/image/upload/v1709831902/youth_illustrations/croco_cover_dn7hhn.png', alt: 'crocodile du nil' },
    { path: 'https://res.cloudinary.com/dncaa02l9/image/upload/v1709831902/youth_illustrations/croco_cover_dn7hhn.png', alt: 'crocodile du nil' },
    { path: 'https://res.cloudinary.com/dncaa02l9/image/upload/v1709831643/youth_illustrations/croco3_jj4mu7.png', alt: 'crocodile du nil' },
    { path: 'https://res.cloudinary.com/dncaa02l9/image/upload/v1709831826/youth_illustrations/croco4_rjabxu.png', alt: 'crocodile du nil' },
    { path: 'https://res.cloudinary.com/dncaa02l9/image/upload/v1709831105/youth_illustrations/croco1_ehdmpr.png', alt: 'crocodile du nil' },
    { path: 'https://res.cloudinary.com/dncaa02l9/image/upload/v1709831105/youth_illustrations/croco2_hkjhna.png', alt: 'crocodile du nil' },
 ]%>
<% images_bis = [
    { path: 'https://res.cloudinary.com/dncaa02l9/image/upload/v1710840630/youth_illustrations/IMG_9355_Grande_hbcgo9.png', alt: 'crocodile du nil' },
    { path: 'https://res.cloudinary.com/dncaa02l9/image/upload/v1710840634/youth_illustrations/IMG_9358_Grande_pss3xq.png', alt: 'crocodile du nil' },
    { path: 'https://res.cloudinary.com/dncaa02l9/image/upload/v1710840631/youth_illustrations/IMG_9356_Grande_wrrfgk.png', alt: 'crocodile du nil' },
    { path: 'https://res.cloudinary.com/dncaa02l9/image/upload/v1710840634/youth_illustrations/IMG_9359_Grande_iso8pz.png', alt: 'crocodile du nil' },

]%>

<div class="grid-container-large">
  <% images.each_with_index do |image, index| %>
    <% if index == 0 %>
      <div >
          <p>"Le crocodile du nil" is an illustrated book. <br><br>Thierry Lemerle, the author, wrote this story to his daughters 20 years ago.<br> I was delighted to help him share this cherished bedtime story once again.<br><br> </p>
      <img src="https://res.cloudinary.com/dncaa02l9/image/upload/v1710844114/youth_illustrations/croco_text_gjmkly.png" alt="text" style="height: 40%;">

      </div>
    <% else %>
      <div class="grid-item-large" style="background-image: url('<%= image[:path] %>');">
        <div class="modal-content">
          <p><%= image[:alt].html_safe %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<div class="grid-container-large-bis">
  <% images_bis.each_with_index do |image, index| %>
      <div class="grid-item-large-bis" style="background-image: url('<%= image[:path] %>');">
        <div class="modal-content">
          <p><%= image[:alt].html_safe %></p>
        </div>
      </div>
    <% end %>
</div>


<%= link_to "back home <-", root_path, class: "link" %>
