<div>
  <h2>Le Crocodile du Nil</h2>
  <p>"Le Crocodile du Nil" is an illustrated book. <br><br>Thierry Lemerle, the author, wrote this story to his daughters 20 years ago.<br> I was delighted to help him share this cherished bedtime story once again. </p>
</div>

    <% images = [
      { path: 'https://res.cloudinary.com/dncaa02l9/image/upload/v1710844114/youth_illustrations/croco_text_gjmkly.png', alt: 'text' },
      { path: 'https://res.cloudinary.com/dncaa02l9/image/upload/v1710876373/youth_illustrations/croco_cover_mhpygo.png', alt: 'cover' },
      { path: 'https://res.cloudinary.com/dncaa02l9/image/upload/v1709831643/youth_illustrations/croco3_jj4mu7.png', alt: 'image1' },
      { path: 'https://res.cloudinary.com/dncaa02l9/image/upload/v1709831826/youth_illustrations/croco4_rjabxu.png', alt: 'image2' },
      { path: 'https://res.cloudinary.com/dncaa02l9/image/upload/v1709831105/youth_illustrations/croco1_ehdmpr.png', alt: 'image3' },
      { path: 'https://res.cloudinary.com/dncaa02l9/image/upload/v1709831105/youth_illustrations/croco2_hkjhna.png', alt: 'image4' },
      { path: 'https://res.cloudinary.com/dncaa02l9/image/upload/v1710840631/youth_illustrations/IMG_9356_Grande_wrrfgk.png', alt: 'photo1' },
      { path: 'https://res.cloudinary.com/dncaa02l9/image/upload/v1710840634/youth_illustrations/IMG_9358_Grande_pss3xq.png', alt: 'photo2' },
      { path: 'https://res.cloudinary.com/dncaa02l9/image/upload/v1710840634/youth_illustrations/IMG_9359_Grande_iso8pz.png', alt: 'photo3' },
      { path: 'https://res.cloudinary.com/dncaa02l9/image/upload/v1710840632/youth_illustrations/IMG_9357_Grande_tdc5br.png', alt: 'photo4' },
    ]
%>
<div class="container-youth">
  <% images[0..5].each_slice(2) do |row| %>
    <div class="row-youth">
      <% row.each do |image| %>
        <div class="image"><img src="<%= image[:path] %>" alt="<%= image[:alt] %>"></div>
      <% end %>
    </div>
  <% end %>
  <div class="row-youth">
    <% images[6..9].each do |image| %>
      <div class="image"><img src="<%= image[:path] %>" alt="<%= image[:alt] %>"></div>
    <% end %>
  </div>
</div>

<button class="back_home" role="button"><%= link_to "home", root_path, class: "link" %></button>
